CRL-Publication.Client/Service References/PublicationServiceReference/PublicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PublicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9090/AutomaticProcessingRequestsService/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9090/AutomaticProcessingRequestsService/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9090/AutomaticProcessingRequestsService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:9090/AutomaticProcessingRequestsService/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPublicationService_CheckConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnection" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_CheckConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_ProcessFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessFile" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_ProcessFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessFileResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_ProcessFile_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:portType name="IPublicationService">
    <wsdl:operation name="CheckConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicationService/CheckConnection" message="tns:IPublicationService_CheckConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicationService/CheckConnectionResponse" message="tns:IPublicationService_CheckConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicationService/ProcessFile" message="tns:IPublicationService_ProcessFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicationService/ProcessFileResponse" message="tns:IPublicationService_ProcessFile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPublicationService/ProcessFileFaultExceptionFault" name="FaultExceptionFault" message="tns:IPublicationService_ProcessFile_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainEndPoint" type="tns:IPublicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckConnection">
      <soap:operation soapAction="http://tempuri.org/IPublicationService/CheckConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFile">
      <soap:operation soapAction="http://tempuri.org/IPublicationService/ProcessFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicationService">
    <wsdl:port name="MainEndPoint" binding="tns:MainEndPoint">
      <soap:address location="http://localhost:9090/PublicationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>